html {
    overflow-x: hidden;
}

body {
    background-color: hsl(0, 0%, 98%);
    font-family: 'Source Sans Pro', sans-serif;
    color: hsl(200, 15%, 8%);
}

th,
td {
    text-align: left;
    font-size: 15px;
}

/* id's ///////////////// */

/* #root{
    margin: 0 25px 0 25px;
} */

.africa-cards-container,
.america-cards-container,
.asia-cards-container,
.europe-cards-container,
.oceania-cards-container,
.single-card-info {
    display: none;
}

.africa-cards-container,
.america-cards-container,
.asia-cards-container,
.europe-cards-container,
.oceania-cards-container,
.cards-container {
    padding:0 50px 0 50px;
}

#dropdownMenuButton {
    box-shadow: 5px 5px 5px rgb(219, 219, 219);
    color: hsl(200, 15%, 8%);
    margin-right:8vw;
}

/* classes //////// */
.navBar {
    margin-bottom: 50px;
    padding: 0;
}

.navbar {
    box-shadow: 5px 5px 5px rgb(219, 219, 219);
}

.navbar-brand {
    margin-left: 35px;
    color: hsl(200, 15%, 8%);
    font-size: 3rem;
}

.dropdown-item {
    color: hsl(200, 15%, 8%)
}

.dropdown-col {
    padding-left: 0;
}

.input-container {
    margin: 0 0 0 55px;
    padding:0;
}

/* Card//////// */

.card-title {
    margin-bottom: 30px;
}

.card {
    margin: 20px 10px 20px 10px;
    box-shadow: 5px 5px 5px rgb(219, 219, 219);
    transition: transform .2s;
    padding-bottom: 20px;
    color: hsl(200, 15%, 8%);
}

.card:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.card-img {
    height: 195px;
}

.card-img-top {
    box-shadow: 5px 5px 5px rgb(219, 219, 219);
    margin-bottom:40px;
}

.single-card-info {
    display: none;
}

.single-card {
    width: 18rem;
}

.single-card-country-name {
    margin-bottom: 50px;
}

.go-home-btn {
    box-shadow: 5px 5px 5px rgb(219, 219, 219);
}

.col,
.col-2 .col-6 {
    padding: 0;
}

.form-control {
    border: none;
    box-shadow: 5px 5px 5px rgb(219, 219, 219);
    font-size: 15px;
    padding: 25px;
}

/* home button row /////// */
.row-button {    
    margin: 60px 0 60px 0;
}

@media(max-width:991px){
    #dropdownMenuButton {
        margin-left:11vw;
    }

}

@media(max-width:834px) {
    #dropdownMenuButton {
        margin:0;
    }

}


@media(max-width:768px) {
    #dropdownMenuButton {
        margin:25px 0 0 15px;
    }
    .card-img {
        height: 300px;
    }
    .navbar-brand {
        font-size: 2rem;
    }
}

@media(max-width:450px) {
    .card-img {
        height: 200px;
    }
    .navbar-brand {
        font-size: 30px;
    }
}

@media(max-width:320px) {
    .card-img {
        height: 150px;
    }
    .navbar-brand {
        font-size: 25px;
    }
}